[submodule "submodules/reference-ccda-validator"]
	path = submodules/reference-ccda-validator
	url = https://github.com/medplum/reference-ccda-validator
	branch = master
[submodule "submodules/code-validator-api"]
	path = submodules/code-validator-api
	url = https://github.com/medplum/code-validator-api
	branch = master
[submodule "submodules/content-validator-api"]
	path = submodules/content-validator-api
	url = https://github.com/medplum/content-validator-api
	branch = master
